div.right-header {
    padding: 15px 15px;
    float: right;
}

ul {
    list-style: none;
}

a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

div.post-list-title{
    font-size: 32px;
    font-weight: 400;
    color: #4d5256;
    margin: 20px 0;
}

.custom-form-margin{
    margin: 30px 0;
}

.custom-textarea{
    min-height: 200px;
}

.custom-btn-default{
    float: right;
}
.post-list-introduction{
    color: #4d5256;
    font-size: 17px;
    margin-bottom: 10px;
}
.post-list-date{
    color: #a9afb3;
    font-size: 17px;
    margin-bottom: 10px;
}
.post-list-wrapper {
    padding: 30px 0;
    border-bottom: #e1e4e6 solid 1px;
}

.custom-right-margin{
    margin-right: 5px;
}